html {
  height: 100%;
  background-color: #f9f9fb;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: #425a70 !important;
  font-size: 14px;
  border-radius: 5px;
}

#terminal pre {
  display: flex;
  align-items: center;
}

#terminal pre code {
  margin-top: -12px;
}

#golang code {
  padding: 0 20px;
}

#setup code {
  padding: 20px;
}
#side-nav-docs {
  border-right: 1px solid #eeeeee;
}
#side-nav-docs a,
#side-nav-docs span {
  margin-bottom: 12px;
  font-size: 16px;
}
